body {
    overflow-y: hidden;
}

a:hover {
    text-decoration: none;
}

/**
******************************************************
**              TITLE BAR
**
******************************************************
*/

#header-bar {
    position: sticky;
    width: 100vw;
    background-color: #7832f8;
    color: #FFFFFF;
    z-index: 1;
}

#page-title {
    margin: 20px 0px;
}

#page-title img {
    width: 60px;
    margin: 0px 10px;
}

/**
******************************************************
**              MAIN CONTENT
**
******************************************************
*/

#main-content {
    max-height: calc(100vh - 6em);
    overflow-y: auto;
}

div.off-card-text {
    padding-left: 0px;
}

p.lead {
    margin: 0px;
}

#content-intro {
    padding: 30px 0px;
}

#theme-toggle-btn {
    width: auto;
    height: auto;
    margin: 0px 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-toggle-btn img {
    width: 20px;
}

/**
******************************************************
**              CARDS
**
******************************************************
*/

div.card {
    margin-bottom: 15px;
}

h5.card-title {
    color: #7832f8 !important;
}


.card-body > ol {
    margin-bottom: 10px;
}

#supported-sites-links {
    margin: 5px 0px;
}

/**
******************************************************
**              RESPONSIVE LAYOUT
**
******************************************************
*/

@media screen and (max-width: 1400px) {
    #page-title {
        margin: 20px 0px;
    }

    #page-title img {
        width: 60px;
    }
}

@media screen and (max-width: 1200px) {
    #page-title {
        margin: 16px 0px;
    }

    #page-title img {
        width: 60px;
    }
}

@media screen and (max-width: 992px) {
    #page-title {
        margin: 12px 0px;
    }

    #page-title img {
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    #page-title {
        margin: 12px 0px;
    }

    #page-title img {
        width: 50px;
    }
}

@media screen and (max-width: 576px) {
    #page-title {
        margin: 8px 0px;
    }

    #page-title img {
        width: 40px;
    }
}